<h1>Listing Identifier Types</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th></th>
    <th></th>
    <!--<th></th>-->
  </tr>

<% @id_types.each do |id_type| %>
  <tr>
    <td><%= id_type.name %></td>
    <td><%= id_type.length %></td>
    <td><%= link_to 'Show', id_type %></td>
    <td><%= link_to 'Edit', edit_id_type_path(id_type) %></td>
    <!--<td><%= link_to 'Destroy', id_type, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Id type', new_id_type_path %>
