<!DOCTYPE html>
<html>
<head>
  <title>IdTranslator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Identifiers", identifiers_path %>
<%= link_to "Identifier Types", id_types_path %>

<%= yield %>

<h3>Proof of Concept. Not intended for production use.</h3>
<P></P><a href="https://github.com/rqbanerjee/id-translator">Visit ID Translator on Raj's Github</a></P>

</body>
</html>
